@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: black;
}

:root{
    --font-primary: "Noto Sans Display";

    --color-one:#a9ccf1;
    --color-two:#0E4F96;
    --color-three: #12235C;

    --color-four:#F8F8F8;
    --color-five: #CCCCCC;
    --color-six: #2C2C2C;
}



/*HEADER*/
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	position: fixed;
    z-index: 1001;
    top: 0;
    background-color: var(--color-two);
    border-bottom: 1px solid var(--color-four);
}
/*SOMBRA Y FONDO AL SCROLL DEL HEADER*/
.sombra{
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
    border-bottom: none;
}

/*CONTENEDOR DEL ICONO DE HAMBURGUESA*/
header > nav > div {
    width: 20%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 100;
    cursor: pointer;
}
/*ICONO HAMBURGUESA*/
header > nav > div > i{
    font-size: 2em;
    color: var(--color-four);
}

/*CONTENEDOR DE LOS LINKS*/
header > nav > div:nth-child(2) {
    width: 100%;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    top: 80px;
    transition: all 1s ease;
    background: var(--color-two);
}
/*CONTENEDOR DE LA LISTA DEL MENU*/
header > nav > div:nth-child(2) > ul{
    width: 100%;
    height: 100%;
}
header > nav div:nth-child(2) > ul > li{
    width: 90%;
    height: 50px;
    margin: 2em auto;
    list-style: none;
}
header > nav div:nth-child(2) > ul > li > a{
    width: 100%;
    height: 100%;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: var(--color-four);
}

/*TODOS LOS ICONOS DEL MENU*/
header  ul > li > a > i{
    font-size: .8em;
    margin-right: 10px;
    color: var(--color-four);
}

/*EFECTO DE MENU CERRADO*/
.uno {
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
}
/*EFECTO DE MENU ABIERTO*/
.dos {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

/*MENU DESKTOP*/
.desktop{
    display: none;
}

/*CONTENEDOR DEL LOGO*/
header > div{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header > div > h1 > a {
    font-size: 2rem;
    font-family: var(--font-primary);
    color: var(--color-four);
    text-decoration: none;
}



/*PIE DE PAGINA*/
footer{
    width: 100%;
    height: 200px;
}
footer > .redes{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
footer > .redes > p{
    width: 90%;
    padding-bottom: .2em;
    font-size: 2rem;
    text-align: center;
    border-bottom: 2px solid black;
}
footer > .redes > div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer > .redes > div > a{
    text-decoration: none;
}
footer > .redes div > a i{
    margin: 0 .5em;
    font-size: 3em;
}
/*COLOR DE CADA ICONO DE CONTACTO*/
.fa-facebook{
    color: #0000ff;
}
.fa-instagram-square{
    color: #bc1888;
}
.fa-phone-alt{
    color: #5270FF ;
}
.fa-envelope{
    color: #E04005
}
/*DERECHOS RESERVADOS*/
footer > div:nth-child(2){
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
    background-color: black;
}
footer > div:nth-child(2) > h2,
footer > div:nth-child(2) > p,
footer > div:nth-child(2) > p > i{
    color: white;
}



/*ADAPTACIONES A DISPOSITIVOS*/
@media screen and (min-width:720px){

    /*HEADER*/
    header {
        width: 100%;
        height: 200px;
        flex-direction: column-reverse;
        top: 0;
        margin: 0;
        padding: 0;
    }

    /*CONTENEDOR DEL LOGO*/
    header > div:nth-child(2){
        width: 100%;
        text-align: center;
    }
    header > div > h1{
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3em;
        border-bottom: 1px solid var(--color-four);
    }

    /*ICONO HAMBURGUESA*/
    header > nav > #icono{
        display: none;
    }

    /*CONTENEDOR DEL MENU*/
    header > nav{
        width: 100%;
        height: 100%;
    }

    /*CONTENEDOR DE LA LISTA DE MENU*/
    header > nav > .desktop{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    header > nav > .desktop > ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    header > nav > .desktop > ul > li {
        height: 100%;
        margin: .5em;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        position: relative;
        --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
        --transform: rotate(0deg);
    }
    header > nav > .desktop > ul > li:hover{
        --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        --transform: rotate(90deg);
    }

    header > nav > .desktop > ul > li > a{
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5em;
        text-decoration: none;
    }
    header > nav > .desktop > ul > li > a > span{
        text-transform: uppercase;
        color: var(--color-four);
        font-size: 1.5em;
    }
    header > nav > .desktop > ul > li > a > i{
        font-size: 1.5em;
    }
    /*ICONO FLECHA DEL MENU*/
    header > nav > .desktop > ul > li > a > .fa-chevron-right{
        transform: var(--transform);
        transition: transform .3s;
        display: block;
        margin-left: 10px;
        color: var(--color-four);
    }

    /*SUBMENU*/
    header > nav > .desktop > ul > li > ul{
        width: 181px;
        list-style: none;
        transition:clip-path .3s;
        clip-path: var(--clip);
        position: absolute;
        right: 0;
        bottom: 0;
        /* width: max-content; */
        transform: translateY(100%);
        background-color: var(--color-five);
    }
    header > nav > .desktop > ul > li > ul > li{
        width: 150px;
        margin: .5em auto;
    }
    header > nav > .desktop > ul > li > ul > li > a{
        width: 130px;
        height: 30px;
        /* margin: 10px; */
        font-size: 1.5em;
        text-decoration: none;
        color: var(--color-six);
    }
    /*EFECTO HOVER*/
    .desktop > ul > li:hover{
        background-color: var(--color-one) ;
        transition: all .2s ease-in-out;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .desktop > ul > li:hover span,
    .desktop > ul > li:hover i{
        color: var(--color-six);
    }

}