@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

:root{
    --font-primary: "Noto Sans Display";
}

/*HEADER*/
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	position: fixed;
    z-index: 1001;
    background: transparent;
}
/*SOMBRA Y FONDO AL SCROLL DEL HEADER*/
.sombra{
    background: white;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
}
/*CONTENEDOR DEL MENU HAMBURGUESA*/
header > nav{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*LINEAS DEL MENU HAMBURGUESA*/
.hamburger{
	width:30px;
	height:40px;
	position: fixed;
	z-index:1002;
    background-color:transparent;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0) scale(1.5);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	cursor:pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hamburger.is-active{
    background-color:none;
}
._layer{
	width:80%;
	height:3px;
	background:#333333;
	margin:1.5px auto;
	border-radius:2px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
/* .hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(50%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
} */
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg);
	-ms-transform:translateY(200%) rotate(45deg);
	transform:translateY(200%) rotate(45deg);
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg);
	-ms-transform:translateY(-200%) rotate(135deg)  ;
	transform:translateY(-200%) rotate(135deg)  
}
.menuppal.is_active{
    transform: translate3d(0px, 0px, 0px);
}
/*CONTENEDOR DE LOS LINKS DEL MENU*/
.menuppal{
    width: 100%;
    height: 100%;
    padding-top: 80px ;
    background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    left: 0;
    top: 0;
    overflow-y: scroll;
    position: fixed;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    z-index: 1001;
}
.menuppal ul{
    margin:0;
    padding:0;
}
.menuppal ul li {
    width: 100%;
	height:80px;
    margin-top: .5em;
    padding-left: 2em;
    display: flex;
    align-items: center;
    list-style: none;
	text-align:left;
	font-size: 1.5rem;
	text-transform:none;
}
/*ITEMS DEL MENU*/
.menuppal ul li a{
    font-size: 1.5em;
    text-decoration:none;
    color: black;
    margin-left: .55em;
}
/*ICONOS DE CADA LISTA DEL MENU*/
.menuppal  i{
    width: 80px;
    font-size: 2em
}
/*FORMULARIO DE BUSQUEDA EN EL MENU*/
.menuppal ul #ocultar form{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menuppal ul #ocultar form > input:nth-child(1){
    width: 90%;
    height: 50%;
    margin: auto;
}
.menuppal ul #ocultar form > input:nth-child(2){
    width: 50%;
    height: 20%;
    margin: auto;
}



/*LOGO O TITULO*/
header > div h1{
    width: 250px;
    text-align: center;
    font-family: var(--font-primary);
    font-size: 2.1em;
}



/*ICONO DEL CARRITO DE COMPRAS*/
header > div:nth-child(3) {
    width: 70px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > div > i{
    font-size: 2em;
}



/*PIE DE PAGINA*/
footer{
    width: 100%;
    height: 250px;
}
footer > div:nth-child(1){
    width: 100%;
    height: 70%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer > div:nth-child(1) > a{
    text-decoration: none;
}
footer > div:nth-child(1) > a i{
    margin: 0 .5em;
    font-size: 3em;
    color: white;
}
footer > div:nth-child(2){
    width: 100%;
    height: 30%;
    text-align: center;
}
footer > div:nth-child(2) > h2{
    height: 50%;
    font-size: 2em;
}
