@import url(general.css);


/*SECCION DE SLIDER DE ARTICULOS*/
main > #ofertas{
    width: 100%;
    overflow: hidden;
}
.slider-contenedor{
    width: 100%;
    display: flex;
}
.contenido-slider{
    width: 100%;
    height: 60vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    flex-shrink: 0;
    background: #c3c3c3;
}
.contenido-slider > div:nth-child(1){
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido-slider > div:nth-child(2){
    width: 100%;
    height: 20%;
    background: var(--color-one);
}
.contenido-slider a{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #c3c3c3;
}



/*GALERIA DE PRODUCTOS*/
main > #productos > section > div{
    position: relative;
}
main > #productos > section > div > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}
main > #productos > section > div > div i{
    width: 40px;
    height: 40px;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: 3em;
    background: white;
    border-radius: 200px;
}
main > #productos > section > div > div .fa-chevron-circle-left{
    margin-left: 1px;
}
main > #productos > section > div > div .fa-chevron-circle-right{
    margin-right: 1px;
}
main > #productos > section{
    width: 100%;
    margin: 3em auto;
}
main > #productos > section > h2 > a{
    padding-left: 1em;
    font: 2em var(--font-primary);
    text-decoration: none;
}
main > #productos > section  ul{
    width: 100%;
    height: 250px;
    padding: 20px .5em;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    background: var(--color-two);
}
main > #productos > section ul::-webkit-scrollbar{
    display: none;
}
main > #productos > section  ul li{
    width: 200px;
    height: 100%;
    margin: 0 1em;
    flex: 0 0 auto;
    position: relative;
    z-index: 1;
    border: 1px solid black;
    border-radius: 5px;
    list-style-type: none;
    background: var(--color-three);
}
main > #productos > section  ul li a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
}
main > #productos > section  ul li a img{
    width: 100%;
    height: 130px;
}
main > #productos > section ul li a h2{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    position: relative;
    bottom: 0;
}
main > #productos > section ul li h2::before{
    content: '$ ';
}
/*ULTIMO LI - VER MAS -*/
main > #productos > section  ul li:nth-last-child(1){
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
main > #productos > section ul li:nth-last-child(1) button{
    width: 100%;
    height: 30px;
    text-transform: uppercase;
}
main > #productos > section ul li:nth-last-child(1) a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}



/*SECCION DE RUBROS*/
main > #rubros{
    width: 100%;
}
main > #rubros > ul{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2em auto;
}
main > #rubros > ul > li{
    width: 10rem;
    height: 10rem;
    margin: 1em .5rem;
    list-style:none;
}
main > #rubros > ul > li > a{
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    text-transform: uppercase;
    text-decoration: none;
    background: #c2c2c2;
    padding-bottom: .5em;
}




/*SECCION DE SLIDER PUBLICITARIO*/
#publicidad {
    width: 100vw;
    margin: 5em auto;
    height: 130px;
    display: flex;
    align-items: center;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
#publicidad > .move {
    display: flex;
    width: calc(250px * 14);
    animation: animacion 50s linear infinite;
    margin: 1em auto;
    background: red;
}
#publicidad > .move > .box {
    height: 100px;
    width: 250px;
}
#publicidad > .move > .box > img{
    width: 250px;
    height: 100px;
}
/*ANIMACION DE LA PUBLICIDAD*/
@keyframes animacion {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}



/*CONTENEDOR DEL ICONO FLOTANTE DE WHATSAPP*/
body > a{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #25d366;
    border-radius: 200px;
    text-decoration: none;
}
body > a > i{
    font-size: 3em;
    color: white;
}



@media screen and (min-width:720px){
    *{
        font-size: 15px;
    }

    main > #productos > section  ul{
        width: 90%;
        padding: 20px 2em;
    }
    main > #productos > section > div > div{
        padding: 0 2em;
    }
    main > #productos > section > div > div > i{
        display: flex;
    }
    #publicidad {
        width: 80vw;
    }
}

