@import url(../css/general.css);

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px auto 50px;
}
main > a{
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 1em .5em ;
    background-color: var(--color-five);
    border-radius: 5px;
    text-decoration: none;
}

main > a div:nth-child(1){
    width: 100%;
    height: 65%;
}

main > a div:nth-child(2){
    width: 90%;
    height: 30%;
    margin: 2px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--color-one);
}
main > a div:nth-child(2) > h2::after{
    content: ' ...';
}
main > a div:nth-child(2) > p::before{
    content: '$ ';
}


@media screen and (min-width: 920px){
    main{
        margin: 250px auto 50px;
    }
}